QWidget {
    font-family: Arial, sans-serif;
    background: rgba(30,30,30,200);
}

QLabel {
    color: white;
}

QLineEdit {
    height: 30px;
    font-size: 16pt;
    border: none;
}

QComboBox {
    height: 55px;
}

QPushButton {
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    background-color: rgba(50, 50, 50, 200);
}